
.container
{
    display:flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    /*margin-left: auto;*/
    box-sizing: border-box;
    

}
.container > #text
{
    flex:3;
}
h1
{
    font-size: 50px;
    border-color: #F312DD 3px;
    margin-left: 100px;
    color:#5A5AF7;
    margin-top: 50px;
    border-width:3px 3px 3px 3px ;
   
}
#text
{
    width: 500px;
    height: 35px;
    border: solid   #5A5AF7 3px;    
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 60px;

}

.foot
{
    bottom: 0px;
    margin-bottom: 100px;
    font-size:  25px  bold;
    color: #5A5AF7;
    position: absolute;
   /* display: flex;
    justify-content:space-around;
    justify-content: row;*/
    left: 0;
    margin-left: 20px;
}
.foot2
{
    bottom: 0px;
    margin-bottom: 100px; 
    font-size:  25px  bold;
    color: #5A5AF7; 
    position: absolute;
    right: 0px;
    margin-right: 60px;
}

.foot3
{
    bottom: 0px;
    margin-bottom: 70px; 
    font-size:  25px  bold;
    color: #5A5AF7; 
    position: absolute;
    right: 0px;
    margin-right: 60px; 
}
.foot4
{
    bottom: 0px;
    margin-bottom: 50px; 
    font-size:  25px  bold;
    color: #5A5AF7; 
    position: absolute;
    right: 0px;
    margin-right: 60px;   
}
.foot5
{
    bottom: 0px;
    margin-bottom: 30px; 
    font-size:  25px  bold;
    color: #5A5AF7; 
    position: absolute;
    right: 0px;
    margin-right: 60px;   
}
.foot6
{
    bottom: 0px;
    margin-bottom: 30px; 
    font-size:  25px  bold;
    color: #5A5AF7; 
    position: absolute;
    right: 0px;
    margin-right: 700px;   
}
.bild
{  background-color:#F9E7F5;
    display: grid; 
    grid-column-gap:5px;
    grid-template-columns:10% 10% 10%;
    top:195px;
    justify-content: right;
   height:55vh;
   width:100vw;
   position:fixed;

}

.lists
{
    left:0px;
    margin-left: 3px;
    position: absolute;
    top:190px;
    color: #5A5AF7;
    font-size:  25px  bold;
    list-style: none;
    border-right:2px  ;
}
hr
{
    width: 140px;
    left: 0px;
    margin-left: 0px;
}
#fram
{
    
    bottom: 0px;
    margin-bottom: 30px; 
    font-size:  25px  bold;
    color:#5A5AF7; 
    position: absolute;
    right: 0px;
    margin-right:670px;    
}
#dd
{
    right: 0px;
    margin-right: 600px;
    margin-top: 70px;
    position: absolute;
    font-size:20px;
    color: #BFBFEF;
}

.nav
{   
   margin-top: 140px;
    left: 0px;
    margin-left: 0px;
    right: 0px;
    position: absolute;
    border: solid   #5A5AF7 3px;
    font-size:  25px  bold;
    color: #5A5AF7;
    height: 40px;
  
    
}
#menu
{  
    justify-content: space-around;   
    display: flex;
    margin-left: 150px;
    margin-right: 150px;

}
#list-1,#list-2,#list-3,#list-4

{
    text-decoration: none;
    border-right: solid   #5A5AF7 3px;
    height: 40px;
    margin-top: -15px;
    padding-right: 5px;

}
#list-5
{

    height: 40px;
    margin-top: -15px; 
}
#twitter
{ 
    font-size: 15px;
    color: #5A5AF7;
    position:absolute;
    margin-bottom: 20px;
    margin-top: 530px;
    margin-left: 60px;  
}

#tillgram
{
    font-size: 40px;
    color: #5A5AF7;
    position:absolute;
    bottom: 0px;
    margin-bottom:30px;   
}